.home
.embeddings

config.mk

node_modules

entities.json
parameter-datasets
parameter-datasets.tsv

datadir

everything/*.tsv
everything/*.tt
everything/synthetic-*.txt
everything/train
everything/dev
everything/models

*.tmp
*.tar.xz